body {
    font-family: "Share Tech Mono", Arial, Helvetica, sans-serif;
    background-image: url("../images/street-fighter-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }

.container {
    margin: auto;
    padding: 50px;
}

.section-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}

.section-second-title {
    text-align: center;
    font-size: 30px;
    margin-top:30px;
    margin-bottom:20px;
}

.character {
    display: inline-block;
    border: solid 1px #000;
    padding: 20px;
    margin: 10px;
    background-color: #f44336;
}

.character-name {
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #000;
    color: #fff;
    padding: 5px;
}
.character-image {
    width: 180px;
    border: 1px solid #000;
}

.character-health {
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
    color: #fff;
}

#selected-character {
    margin: auto;
    text-align: center;
}

#avaliable-to-attack-section {
    margin: auto;
    text-align: center;
}

#defender {
    margin: auto;
    text-align: center;
}


#characters-section {
    margin: auto;
    text-align: center;
}

#fight-section {
    text-align: center;
}

button {
    background-color: #ffeb3b; 
    border: 5px solid #f44336;
    font-size: 24px;
    text-transform: uppercase; 
    padding: 20px;
    width: 200px;
    color: #f44336;
    font-weight: 900;
    margin-bottom: 20px;
}

.message-area {
    text-align: center;
    margin: auto;
    background: #fff;
    border-style: solid;
    border-color: #000;
    border-width: 2px;
    width: 400px;
    padding: 0 50px;
    margin-bottom: 5px;
    font-size: 20px;
    text-transform: uppercase;
    color: #f44336;
    font-weight: 900;
}

#game-message {
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
    background: #fff;
    border: 2px solid #000;
    width: 400px;
    padding: 50px;
    font-size: 20px;
    line-height: 2em;
}